@font-face {
    font-family: 'FZRuiZhengYuanS';
    src: url('../font/FZRUIZYS_ZHUN--GB1-0.eot');
    src: url('../font/FZRUIZYS_ZHUN--GB1-0.eot?#iefix') format('embedded-opentype'),
        url('../font/FZRUIZYS_ZHUN--GB1-0.woff2') format('woff2'),
        url('../font/FZRUIZYS_ZHUN--GB1-0.woff') format('woff'),
        url('../font/FZRUIZYS_ZHUN--GB1-0.ttf') format('truetype'),
        url('../font/FZRUIZYS_ZHUN--GB1-0.svg#FZRUIZYS_ZHUN--GB1-0') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZRuiZhengYuanS';
    src: url('../font/FZRUIZYS_DA--GB1-0.eot');
    src: url('../font/FZRUIZYS_DA--GB1-0.eot?#iefix') format('embedded-opentype'),
        url('../font/FZRUIZYS_DA--GB1-0.woff2') format('woff2'),
        url('../font/FZRUIZYS_DA--GB1-0.woff') format('woff'),
        url('../font/FZRUIZYS_DA--GB1-0.ttf') format('truetype'),
        url('../font/FZRUIZYS_DA--GB1-0.svg#FZRUIZYS_DA--GB1-0') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZRuiZhengYuanS';
    src: url('../font/FZRUIZYS_DA--GB1-0_1.eot');
    src: url('../font/FZRUIZYS_DA--GB1-0_1.eot?#iefix') format('embedded-opentype'),
        url('../font/FZRUIZYS_DA--GB1-0_1.woff2') format('woff2'),
        url('../font/FZRUIZYS_DA--GB1-0_1.woff') format('woff'),
        url('../font/FZRUIZYS_DA--GB1-0_1.ttf') format('truetype'),
        url('../font/FZRUIZYS_DA--GB1-0_1.svg#FZRUIZYS_DA--GB1-0') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.chinese__font_regular {
    font-family: 'FZRuiZhengYuanS';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.chinese__font_bold {
    font-family: 'FZRuiZhengYuanS';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.chinese__font_xl_bold {
    font-family: 'FZRuiZhengYuanS';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../font/MYRIADPRO-REGULAR.woff') format('woff');
}
    

    @font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../font/MYRIADPRO-COND.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../font/MYRIADPRO-CONDIT.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../font/MyriadPro-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../font/MYRIADPRO-SEMIBOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../font/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../font/MYRIADPRO-BOLDCOND.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../font/MYRIADPRO-BOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../font/MYRIADPRO-BOLDIT.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../font/MYRIADPRO-BOLDCONDIT.woff') format('woff');
    }


$primary :#222353;
$warning :#e4bc50;
$white : #ffffff;
$theme : #ecfaff;
.text__primary {
    color: $primary;
}
*,body {
    padding: 0;
    margin: 0;
    @extend .chinese__font_regular;
}
.english__font {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
}
body {
    ::selection {
        background: $primary;
        color: $white;
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: $white;
    &:hover {
        color: $white;
    }
}
.mw-fit {
    min-width: fit-content;
}
.chinese__font {
    font-family: 'adobe_heiti_stdr';
    font-weight: normal;
    font-style: normal;
}

.english__font_Regular {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
}
.english__font_Bold {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
}

.warning__btn {
    background: #e4bc50;
    background-image: none;
    background-size: auto;
    color: #222353;
    background-image: url(../images/warning__btn.png);
    background-size: 100% 100%;
    box-shadow: 0px 1px 7px 0px rgba(10, 1, 0, 0.71);
    transition: 0.2s all;
    padding: 15px 65px;
    font-size: 25px;
    font-weight: normal;
}
.secondary__btn {
    @extend .warning__btn;
    background-image: url(../images/secondary__btn.png);
    box-shadow:none;

}
.group__btns {
    li a {
        margin-right: 20px;
    }
    margin-top: 60px;
    margin-bottom: 60px;
}
.prototype__ {
    font-size: 18px;
    color: $primary;
    font-family: 'adobe_heiti_stdr';
}

.wrapper {
    background-image: url(../images/Background.png);
    background-size: 100%;
    margin-top: -35px;
    height: auto;
}
// HEADER ==================== 
header {
    background: #e7e6e4;
    * {
        background: transparent;
    }
    .navbar-brand > img {
        width: 120px;
    }
    .navbar-brand .flag {
        width: 35px;
     }

    .dropdown.change {
        width: 35px;

    }
    .dropdown-toggle::after {
        content: none;
    }
    .dropdown-menu {
        img.flag {
            width: 35px;
        }
        min-width: fit-content;

    }
    .dropdown-menu.show {
        margin-top: 5px !important;
        padding: 8px 3px !important;
    }
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: auto;
        right: -40% !important;
        
    }
    

     .offcanvas {
        background-image: url(../images/side__bar.png);
        background-size: 100%;
        background-position: top;
        padding: 10px 4%;
        .offcanvas-body {
            // background: #22235328;
            padding: 0px;
            .sub__nav.side {
                .nav-item {
                    margin-bottom: 15px;
                    .nav-link.rounded-pill {
                        padding: 10px 26px;
                        margin-right: 0;
                        &::placeholder {
                            color: $primary;
                            font-family: 'adobe_heiti_stdr';
                            font-weight: 600;
                            opacity: 1;
                            letter-spacing: 3px;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .nav-link.r {
                        padding: 10px 36px;
                        margin-right: 10px;
                    }
                }
                .forgot {
                    top: 50%;
                    right: 10%;
                    transform: translateY(-50%);
                }
            }
        }
        .side__footer_end {
            margin-top: 80px;
            margin-bottom: 40px;
            h5 {
                font-size: 28px;
                color: $primary;
                margin-right: 5px;
                margin-bottom: 0;
            }
            img {
                width: 130px;
            }
        }
    } 
    .side__pages {
        li {
            margin-bottom: 10px;
            a {
                > div {
                    justify-content: center;
                }
                width: 100%;
                .links__icon {
                    width: 50px;
                    margin-right: 20px;
                    text-align: center;
                    img {
                        width: 90%;
                    }
                }
                .links__icon.info{
                    text-align: center;
                    img {
                        width: 50%;
                    }
                }
                .links__icon.message{
                    text-align: center;
                    img {
                        width: 110%;
                    }
                }


                .links__icon.winner {
                    margin-left: 24px;
                }
                p {
                    font-size: 22px;
                    letter-spacing: 4px;
                    color: $primary;
                }
            }
        }
        .side_qr {
            max-width: 215px;
        }
    }
}
.navbar-nav ,.sub__nav {
    .nav-item {
         .nav-link {
             border-width: 2px;
             border-color: $primary;
             border-style: solid;
             border-radius: 12px;
             width: 187px;  
             padding: 13px  15px;
             font-family: 'adobe_heiti_stdr';
             font-weight: normal;
             color: $primary;
             font-size: 16.729px;
             line-height: 1.121;
             margin-right: 16px;
         }
         .nav-link.r {
             background: $primary;
             color: $white;
             padding: 14px 40px;
             width: fit-content;
         }
         .nav-link.rounded-pill.warn {
             background: $warning;
         } 
         
           
     }
}
.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-image: url("../images/menu.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


// ========================= 
// ========================= 
// ========================= 
// MODAL ALL 
.modal.default {
    .modal-dialog {
        border-radius: 16px;
        border: 2px solid #ffffff;
        background: transparent;
        box-shadow: (0px 1px 20px #000000);
        overflow: hidden;
        .modal-header {
            background: $primary;
            padding: 14px 0px;
            justify-content: center;
            border: none;
            .modal-title {
                color: white;
                @extend .english__font_Bold;
                font-weight: 800;
                font-size: 36px;
                letter-spacing: 2px;
                filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.58));
            }
            
        }
        .modal-body {
            background-color: rgba(0, 0, 0, 0.902);
            color: $white;
            padding: 15px 25px;
            form {
                .input-group {
                    margin-bottom: 20px;
                    .input-group-text {
                        border-radius: 0px;
                        border: none;
                        background: transparent;
                        border-bottom: 2px solid $white;
                        padding-bottom: 10px;
                        
                        img {
                            width: 17px;
                        }
                    }
                    .input-group-text.otp {
                        button {
                            background: $primary;
                            color: $white;
                            font-size: 14px;
                            padding: 5px 15px;
                            @extend .english__font_Regular;
                            border: none;
                            border-radius: 3px;
                        }
                    }
                    .form-control {
                        border-radius: 0px;
                        border: none;
                        border-bottom: 2px solid $white;
                        background: transparent;
                        box-shadow: none;
                        @extend .english__font_Regular;
                        color: $white;
                        padding-bottom: 10px;

                        &::placeholder {
                            color: $white;
                        }
                    }
                    .form-text { 
                        font-weight: 400;
                        @extend .english__font_Regular;
                        font-size: 14px;
                        color: #ffe881;
                        word-spacing: 1px;
                    }
                }
                .modal__btn {
                    background: $primary;
                    color: $white;
                    font-size: 22px;
                    padding: 9px 40px;
                    @extend .english__font_Regular;
                    border: none;
                    border-radius: 5px;
                }
                .no__account {
                    padding: 10px 0px;
                    p {
                        font-size: 16px;
                        @extend .english__font_Regular;
                        color: $white;
                        word-spacing: 1px;
                        text-align: center;
                        margin-bottom: 0px;
                    }
                    a  {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .three__btns {
        .gold__btn,.gray__btn {
            font-size: 18px;
            height: 49px;
            width: 130px;
        }
    }
    .warn {
        font-size: 34px;
        @extend .chinese__font_regular;
        color: $warning;
        letter-spacing: 1px;
    }
    .warn__text {
        color: $white;
        font-size: 18px;
        @extend .chinese__font_regular;

        

        

    }
    
}

// ============= ================ 
// ============= ================ 
// ============= ================ 
// BANNER ===================================================
// .banner {
    
// }

// STAGE ==================================== 
.stage {
    padding-top: 28px;
    &__mean {
        // margin-top: 100px;
    }
    &__content {
        margin-top: -110px;
        margin-bottom: 30px;
    }
}
.step {
    .step__bar{
        color: $white;
        background: transparent;
        border-top-left-radius: 18px;
        border-bottom-right-radius: 18px;
        width: fit-content;
        padding: 9px 60px;
        font-size: 26px;
        font-family: "adobe_heiti_stdr";
        background-image: url(../images/bar__after.png);
        background-size: 100% 100%;
        
    }
    .step__border {
        margin-top: -2px;
        padding: 18px 5px;
        background: transparent;
        border-radius: 20px;
        border: 12px solid;
        border-image: url(../images/step_border.png) 37 / 12px / 0px stretch;
        .step_01 {
            width: 50%;
            // height: ;
        }
        .step_02 {
            width: 55%;
            padding-right: 10px;
        }
    }
}  




.tab.leader {
    .nav-tabs {
        border: none;
        justify-content: center;
        background: $primary;
        color: $white;
        flex-wrap: nowrap;
        .nav-link {
            border: none;
            background: transparent;
            color: $white;
            overflow: visible;
            border-radius: 0;
            border: none;
            padding: 0;
            width: 162px !important;
            height: 50px;
            letter-spacing: 1px;
            @extend .chinese__font_xl_bold;
            &:hover {
                color: $white;
            }
        }
        .nav-link.active {
            color: $primary;
            background-image: url(../images/Leaderboard_tabs.svg);
            background-size: 100% 100%;
            transform: scale(1.2);
            &:hover {
                color: $white;
            }
            // position: relative;
            // &::after {
            //     position: absolute;
            //     inset: 0;
            //     content: "";
            //     background-color: red;
            //     background-image: url(../images/Leaderboard_tabs.svg);
            //     background-size: 100% 100%;
            // }
        }
    }
}



.rounds {
    padding: 60px 0px;
    padding-top: 80px;
    .round__card {
        text-align: center;
        .round__card_no {
            display: flex;
            justify-content: center;
            margin-bottom: 18px;
            p {
                margin-bottom: 0;
                font-size: 18px;
                @extend .english__font_Regular;
                color: $primary;
                position: relative;
                width: fit-content;
                &::after {
                    content: "";
                    position: absolute;
                    // background-color: red;
                    width: 20px;
                    height: 20px;
                    top: 100%;
                    left: 0;
                    transform: translateX(-25%);  //rotate(180deg)
                    border-width: 0 10px 14px 10px;
                    border-color: transparent transparent #ffc200 transparent;
                    border-style: solid;
                }
            }
            
        }
        .round__card_username {
            font-size: 17px;
            @extend .chinese__font_bold;
            margin-bottom: 5px;
        }
        .round__card_source {
            font-size: 28px;
            background: -webkit-linear-gradient(#fbc50f, #fda925);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @extend .chinese__font_xl_bold;
            margin-bottom: 0;
        }
        .round__card_frame {
            max-width: 220px;

        }

          
    }
    .round__card.big {
        margin-top: -40px;
        .round__card_frame {
            max-width: 300px;
            position: relative;
            z-index: 2;
            &::before {
                position: absolute;
                top: 13%;
                left: -11%;
                content: "";
                width: 55%;
                height: 100%;
                background-image: url(../images/Round__left.png);
                background-size: 100%;
                background-repeat: no-repeat;
                z-index: -0;
            }
            &::after {
                position: absolute;
                top: 13%;
                right: -11%;
                content: "";
                width: 55%;
                height: 100%;
                background-image: url(../images/Round__right.png);
                background-size: 100%;
                background-repeat: no-repeat;
                z-index: -1;
            }
            .img {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: -10%;
                    $winner : 60px;
                    width: $winner;
                    height: $winner;
                    // background: red;
                    z-index: 9;
                    transform: translateX(-50%);
                    background-image: url(../images/Round__top.png);
                    background-size: 100%;
                    background-repeat: no-repeat;

                }
            }
        }
    }
}

// .leader__back {
//     background: $theme;
//     background-image:  url(../images/leader_shio_back.webp);
//     background-size: 70%;
//     background-position: center center ; 
//     background-repeat: no-repeat;
//     height: 200vh;
//     position: relative;
//     &::after {
//         content: "";
//         position: absolute;
//         inset: 0;
//         mix-blend-mode: darken;
        
//     }
// }

.pts {
    padding: 60px 0px;
    .pts__landscape {
        padding: 13px 20px;
        padding-right: 30px;
        width: 100%;
        background-image: url(../images/leader__landscape__bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        .pts__landscape_no {
            color: $white;
            font-size: 26px;
            margin-right: 15px;
            @extend .english__font_Regular;
        }
        .pts__landscape_img {
            width: 55px;
            margin-right: 20px;
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                inset: 20% 22% 18% 22%;
                background: $white;
                z-index: -1;
            }
        }
        .pts__landscape_username {
            font-size: 17px;
            @extend .chinese__font_bold;
            color: $white;
        }
        .pts__landscape_point {
            margin-left: auto;
            font-size: 22px;
            background: -webkit-linear-gradient(#fbc50f, #fda925);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @extend .chinese__font_xl_bold;
        }
    }

}
  



























footer {
    padding: 45px 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-image: -moz-linear-gradient( 90deg, rgb(91,91,150) 0%, rgb(127,22,5) 0%, rgb(58,60,142) 0%, rgb(144,144,144) 0%, rgb(34,35,83) 0%, rgb(69,70,130) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(91,91,150) 0%, rgb(127,22,5) 0%, rgb(58,60,142) 0%, rgb(144,144,144) 0%, rgb(34,35,83) 0%, rgb(69,70,130) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(91,91,150) 0%, rgb(127,22,5) 0%, rgb(58,60,142) 0%, rgb(144,144,144) 0%, rgb(34,35,83) 0%, rgb(69,70,130) 100%);

    .footer__menu {
        li {
            margin: 0px 22px;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 18px;
                letter-spacing: 3px;
                .footer_icon {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .footer_icon.level {
                    width: 100%;
                    margin-top: 7px;
                }
            }
        }
        .footer_menu_up {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: flex-start ;
            margin-bottom: 10px;

        }
    }
}




// ==================================================================== HOMY

.header__app {
    padding: 18px 35px;
    position: relative;
  }
  .head__tittle {
    font-size: 33px;
    letter-spacing: 7px;
    color: #222353;
    text-align: center;
    margin-bottom: 0;
  }
  .header__app{
    background-image: linear-gradient(180deg, #ebede9 0%, #f8f7f6 50%, #dbdbd7 100%);
  }
  .page__back {
    width: 50px;
    position: absolute;
  }
  main {
    background: white;
    padding: 50px 35px;
    .card {
      margin-bottom: 30px;
      .card__tittle {
        font-size: 36px;
        letter-spacing: 7px;
        color: #222353;
        margin-bottom: 20px;
        @extend .chinese__font_xl_bold;
      }
      .card__body {
        padding: 14px 12px;
        border: 10px solid;
        border-image: url(../images/full__bar_border.png) 140/17px/0px stretch;
        p {
          font-size: 14px;
          color: #222353;
          line-height: 140%;
          margin-bottom: 0;
        }
        ul,ol {
          li {
            font-size: 16px;
            color: #222353;
            line-height: 140%;
            margin-bottom: 5px;
          }
        }
        ol li {
          margin-bottom: 8px;
        }
        .sub__list {
          margin-left: 10px;
          margin-bottom: 7px;
        }
      }
    }
    .myProfile {
      .form-label {
        font-size: 28px;
        letter-spacing: 5px;
        color: #222353;
        margin-bottom: 15px;
      }
      input {
        box-shadow: none !important;
        border: none;
        border-radius: 12px;
        background: #dddddd;
        padding: 18px 20px;
        font-size: 21px;
        transition: 0.3s all;
        width: calc(100% - 40px);
        margin-left: auto;
  
      }
      .form-control:focus {
        color: #222353;
        border-color: #222353;
        outline: 0;
        background: #d5d5d5;
        transition: 0.3s all;
      }
      .myProfile__input {
        margin-bottom: 35px;
      }
      .form-text {
        font-size: 18px;
        letter-spacing: 3px;
        color: #bbbbbb;
        width: calc(100% - 40px);
        margin-left: auto;
      }
    }
    .myProfile.password {
      input {
        border: 2px solid #bbbbbb;
        background: white;
      }
      .form-control:focus {
        color: #222353;
        border-color: #222353;
        outline: 0;
        background: white;
        transition: 0.3s all;
      }
    }
    .update {
      font-size: 36px;
      letter-spacing: 7px;
      text-decoration: underline;
      color: #222353;
      line-height: 120%;
      margin-bottom: 35px;
      margin-top: 60px;
    }
    .btn {
      border-radius: 67px;
      background-color: #ffc107;
      padding: 8px 60px;
      font-size: 22px;
      letter-spacing: 5px;
      color: #222353;
      outline: none;
      border: 3px solid #ffc107;
      transition: 0.3s all;
      &:hover {
        color: #ffc107;
        background: #222353;
        border: 3px solid #ffc107;
        transition: 0.4s all;
  
      }
    }
  }


@import "predict";
@import "timer";
@import "game__layout";
@import "table";


@import "responsive";





